
body{
  background-color: black !important;
  color: blanchedalmond;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card {
  width: 18rem;
}
.content {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
img{
  width:10vw;
  height:30vh;
}
.item{
  padding : 1vh 0vw;
}